body{
    font-family: 'Lucida Sans';
    font-size:14px;
    border: 1px solid #b8b8b8;
    padding: 15px;
    border-radius: 4px;
    box-shadow:2px 2px 0 0 #C3c3c3;
    max-width: 100%;
    background: linear-gradient(to bottom left,#fff6f6,#fff9f9,#fff6f6);
    font-weight: 500;
}

img{
    float:right;
    width: 150px;
    max-width: 40%;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 0 #545454;
}


button{
    background: transparent;
    border:none;
    color: #1e00a5;
    margin:0;
    padding:0;
    text-align: left;
    font-size: 15px;
}

h1, h2{
    text-align: center;
    text-shadow: 1px 1px 3px pink, 0px 1px 2px #545454;
}

h2{
    margin-top: 50px;
}

a:link{
    text-decoration: none;
    color: #1e00a5;
}
a:visited{
    text-decoration: none;
    color: #1e00a5;
}
a:hover{
    text-decoration: none;
    color: #FF0000;
}
a:active{
    text-decoration: none;
    color: #FF0000;
}

button:hover{
    text-decoration: none;
    color: #FF0000;
}

button:focus{
    text-decoration: none;
    color: #FF0000;
}