body{
    font-family: 'Lucida Sans';
    font-size:14px;
    border: 1px solid #b8b8b8;
    padding: 15px;
    border-radius: 4px;
    box-shadow:2px 2px 0 0 #C3c3c3;
    max-width: 100%;
    background: linear-gradient(to bottom left,#ffEDED,#ffffff,#ffEDED);
    font-weight: 600;
}

img{
    float:right;
    width: 150px;
    max-width: 40%;
    border-radius: 4px;
    box-shadow: 2px 2px 1px 0 #C3c3c3;
}


button{
    background: transparent;
    border:none;
    color: #46368F;
    margin:0;
    padding:0;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
}

h1, h2{
    text-align: center;
    text-shadow: 1px 1px 2px pink, 0px 1px 1px #545454;
}

h2{
    margin-top: 50px;
}

a:link{
    text-decoration: none;
    color: #46368F;
}
a:visited{
    text-decoration: none;
    color: #46368F;
}
a:hover{
    text-decoration: none;
    color: #FF0000;
}
a:active{
    text-decoration: none;
    color: #FF0000;
}

button:hover{
    text-decoration: none;
    color: #FF0000;
}

button:focus{
    text-decoration: none;
    color: #FF0000;
}