html {
    color: white;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(img/forms.jpg);
    font-family: 'Waiting for the Sunrise', cursive;
    line-height: 40px;
    font-size: 20px;
    margin:auto;
    margin-bottom: 100px;
    animation-name:sanguinho;
    animation-duration: 6s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

audio{
    opacity: 0.2;
}

@keyframes sanguinho{
    0%{
        background-size: 400% 400%;
        background: linear-gradient(-45deg, red, black);
        background-position:0% 50%;             
    }
    50%{
        background-position:100% 50%;
        background: linear-gradient(-45deg, red, black);
        background-size: 400% 400%;
    }
    90%{
        background-position:0% 50%;
        background: linear-gradient(-45deg, red, black);
        background-size: 400% 400%;
    }
    100%{
        background-position:center;
        background-size: cover;
        background-image:url(img/forms.jpg);
    }
}

.container{
    max-width: 100%;
    height: auto;
    text-align: center;
    display:flex;
    justify-content: center;
    flex-direction: column;
    animation-name: formaparecendo;  
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    box-shadow: 3px 3px 20px rgb(40, 83, 226);
    border-radius: 13px;
    margin:0 30px 0 30px;
}

@keyframes formaparecendo{
    0%{
        opacity:0;
    }
    80%{
        opacity:0 ;
    }   
    100%{
        opacity: 1;
    }
}

#tittle{
    text-shadow: 10px 10px 20px red, 10px 10px 30px blue;
}

#survey-form{
    width: 100%;
    height: auto;
}

#number-label{
    width: 150px;
}

h2{
    text-shadow: 10px 10px 20px red;
}

h3{
    text-decoration: underline red;
}

hr{
    width: 70vw;
    box-shadow: 0 0 10px red;
}

.caveira img{
    max-width: 100%;
    height: auto;
    animation-name: caveira;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}


@keyframes caveira{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    80%{
        max-height: 100%;
        opacity: 1;
    }
    100%{
        opacity: 0;
        max-height: 0;
        pointer: none;
    }
}

#description{
    position: absolute;
    top: 30px;
    left: 50%;
    animation-name: paragrafo;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes paragrafo{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    80%{
        max-height: 100%;
        opacity: 1;
    }
    100%{
        opacity: 0;
        max-height: 0;
        pointer: none;
    }
}

.flex1 input{
    background:none;
    border:none;
    box-shadow: 0 0 10px red;
    color:white;
}
::placeholder{
    color:red;
}

textarea{
    background:none;
    color:red;
    box-shadow: 0 0 10px red;
    max-width: 100%;
}

#submit{
    background:blue;
    color:white;
    box-shadow: 0 0 0 red;
    border:1px solid white;
}

#submit:hover{
    animation-name: buttonhover;
    animation-duration:5s;
}

@keyframes buttonhover{
    100%{
        transform:scale(10);
        box-shadow: 0 0 20px red;
        border:2px solid white;
        border-radius: 8px;
    }
}

select{
    background-color: blue;
    color:white;
}

@media (max-width:500px){
    textarea{
        width: 70%;
    }
    /*#tittle{
        font-size: 15px;
    }
    
    .caveira img{
        max-width: 50%;
        height: auto;
        animation-name: caveira;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }*/
    .container{
        margin:0px;
    }

}
