header{
    border-width: 1px 2px 2px 15px;
    border-style: solid;
    height: 70px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.nome{
   background: red; 
}

.linguas{
    background:yellow;
}

.redes{
    background:green;
}

header > div{
    text-align: center;
}

body{
    background: #f3e7e7;
    text-align: center;
}

a{
    text-decoration: none;
}

