header{
    border-width: 1px 3px 5px 25px;
    border-color: rgb(0, 0, 0, 0.7);
    border-style: solid;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px 0px 0px; /*Usando o justify-content:space-around não usar o padding*/
}

.headersubindo{
    -webkit-animation: catapimba 3s ease;

}
@-webkit-keyframes catapimba{
    0% {
        opacity:0;
        background:black;
        padding: 10% 0% 20% 0%;
    }
}

header > div{
    margin-bottom: -15px;
    margin-top:-15px;
}

.nome{
    font-weight: 900;
    color:#1f2684;
}

.linguas{
    color:#1f2684;
    font-size:13px;
    font-weight: 800;
    text-align: left;
}

.redes a{
    font-size:60px;
}

body{
    text-align: center;
}
.vidaloca{
    background: linear-gradient(-45deg, #ff6fff, #95fffa);
    background-size: 400% 400%;
    -webkit-animation: vidaloca 14s ease infinite;
}

@-webkit-keyframes vidaloca {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.niveis{
    color:#1f2684;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    font-weight: 600;
}

section{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.fotos {
    margin-top: 50px;
    opacity: 1;
    -webkit-animation: opaco 14s ;
}

@-webkit-keyframes opaco{    
    40%{
        opacity:1;
    }
    50%{
        opacity: 0.2;
    }
}


.fotos img{
    max-width: 80%;
    transition: 0.5s;
    border-style: solid;
    border-color:rgb(0, 0, 0, 0.9);
    border-radius: 3px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 9px;
    border-width: 1px 3px 5px 20px;
    box-shadow: 10px 10px 20px gray;
    margin-top: 100px
}

.fotos > .fotoum{
    flex:24.9%;
}
.fotos > .fotodois{
    flex:24.9%;
}
.fotos > .fototres{
    flex:24.9%;
}
.fotos > .fotoquatro{
    flex:24.9%;
   }
.fotos > .fotocinco{
    flex:24.9%;
   }
   .fotos > .fotoseis{
    flex:24.9%;
   }

.fotos > .fotoum img:hover{
    -webkit-transform: scale(1.3) rotate(1deg) !important;
    border-radius: 2px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 9px;
}

.fotos > .fotodois img:hover{
    -webkit-transform: scale(1.3) rotate(-1deg) !important;
    border-radius: 2px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 9px;
}

.fotos > .fototres img:hover{
    -webkit-transform: scale(1.3) rotate(1deg) !important;
    border-radius: 2px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 9px;
}

.fotos > .fotoquatro img:hover{
    -webkit-transform: scale(1.3) rotate(-1deg) !important;
    border-radius: 2px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 9px;
}

.fotos > .fotocinco img:hover{
    -webkit-transform: scale(1.2) rotate(1deg) !important;
    border-radius: 2px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 9px;
}

.fotos > .fotoseis img:hover{
    -webkit-transform: scale(1.2) rotate(-1deg) !important;
    border-radius: 2px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 9px;
}

a{
    text-decoration: none;
}

@media (max-width: 1250px){
    .fotos > .fotodois{
        flex:33.3%;
    }
    .fotos > .fotoum{
        flex:33.3%;
    }
    .fotos > .fototres{
        flex:33.3%;
    }
    .fotos > .fotoquatro{
        flex:33.3%;
    }
    .fotos > .fotocinco{
        flex:33.3%;
    }
    .fotos > .fotoseis{
        flex:33.3%;
}
}

@media (max-width: 900px){
    .fotos > .fotodois{
        flex:34%;
    }
    .fotos > .fotoum{
        flex:34%;
    }
    .fotos > .fototres{
        flex:34%;
    }
    .fotos > .fotoquatro{
        flex:34%;
    }
    .fotos > .fotocinco{
        flex:34%;
    }
    .fotos > .fotoseis{
        flex:34%;
    }
}

foot p{
    background-image: url(img/foot.png);
    background-repeat: repeat-x;
    opacity: 0.5;
    margin-top: 200px;
    text-align:left;
    font-weight: 900;
}

.fotoum img{
    -webkit-animation: esquerda 1.3s ease-in;
}

@-webkit-keyframes esquerda{
    0% {
        border-radius:50%;
        width: 0%
    }
    50% {
        border-radius:30%;
        width: 50%
    }

    60% {
        border-radius: 20%;
        width: 75%;
    }

    90%{
        width: 100%;
    }
}   

.fotodois img{
    -webkit-animation: esquerda 1.7s linear;
}

@-webkit-keyframes esquerda{
    0% {
        border-radius:50%;
        width: 0%
    }
    50% {
        border-radius:30%;
        width: 50%
    }

    60% {
        border-radius: 20%;
        width: 75%;
    }
    
    90%{
        width: 100%;
    }
}   

.fototres img{
    -webkit-animation: esquerda 2s ease-in;
}

@-webkit-keyframes esquerda{
    0% {
        border-radius:50%;
        width: 0%
    }
    50% {
        border-radius:30%;
        width: 50%
    }

    60% {
        border-radius: 20%;
        width: 75%;
    }
    
    90%{
        width: 100%;
    }
}


.fotoquatro img{
    -webkit-animation: esquerda 2.3s ease-in;
}

@-webkit-keyframes esquerda{
    0% {
        border-radius:50%;
        width: 0%
    }
    50% {
        border-radius:30%;
        width: 50%
    }

    60% {
        border-radius: 20%;
        width: 75%;
    }
    
    90%{
        width: 100%;
    }
}

.fotoseis img{
    -webkit-animation: esquerda 0.1s ease-in;
}

@-webkit-keyframes esquerda{
    0% {
        border-radius:50%;
        width: 0%
    }
    50% {
        border-radius:30%;
        width: 50%
    }

    60% {
        border-radius: 20%;
        width: 75%;
    }
    
    90%{
        width: 100%;
    }
}